<div class="card">
  <p-table #dt1 [value]="museums" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    responsiveLayout="scroll" sortMode="single" sortField="date" [sortOrder]="-1" currentPageReportTemplate="Показати з {first} по {last} із {totalRecords}
           записів" [rowsPerPageOptions]="[10,25,50]" dataKey="id"
    [globalFilterFields]="['museum','museum_type','region','settlement']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Очистити" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Назва<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="tableName">Тип<p-sortIcon field="tableName"></p-sortIcon></th>
        <th pSortableColumn="rowId">Облать<p-sortIcon field="rowId"></p-sortIcon></th>
        <th pSortableColumn="rowId">Населений пункт<p-sortIcon field="rowId"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-museum let-expanded="expanded">
      <tr>
        <td (click)="openFullInfo(museum)">{{museum.museum}}</td>
        <td>{{museum.museum_type}}</td>
        <td>{{museum.region}}</td>
        <td>{{museum.settlement}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
