<div class="card">
  <p>
    {{ museum.adress }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.geo }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.inception }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.map_link }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.museum }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.museum_type }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.museum_url }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.region }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.settlement }}
  </p>
  <p-divider></p-divider>
  <p>
    {{ museum.site }}
  </p>
</div>
